h1 {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}
body {
    background-color: #123612;
    text-align: center;
}
ul {
    list-style-type: square;
    list-style-position: inside;
    margin: auto;
    color: whitesmoke;
}
h2 {
    color: whitesmoke;
}
p {
    color: whitesmoke;
}
@-ms-viewport {
    width: device-width;
}